* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Zain Regular";
  src: url(../fonts/Zain-Regular.woff2);
}

@font-face {
  font-family: "Rammetto One Regular";
  src: url(../fonts/RammettoOne-Regular.woff2);
}

header {
  background-color: #778da9;
  position: sticky;
  top: 0;
  padding: 20px 40px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-section img {
  width: 25%;
  height: auto;
}

.logo-section p {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  font-family: "Rammetto One Regular";
}

header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-family: "Zain Regular";
}

nav ul li {
  color: white;
  font-size: 0.5em;
}

main {
  margin: 2em;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  background-color: #e0e1dd;
}

div h2 {
  background-color: #1b263b;
  color: #fff;
  padding: 0.5em;
  border-radius: 20px;
  margin: 0.7em 0.5em;
  font-size: 1.3em;
}

h3 {
  margin: 0 0 0.5em 1.2em;
  font-size: 1.4em;
  font-family: "Zain Regular";
}

.grid_1-1 p {
  margin-left: 1.7em;
  line-height: 2em;
  font-family: "Zain Regular";
  font-size: 1em;
}

section img {
  margin-top: 1.5em;
}

h2 {
  background-color: #415a77;
  margin: 1em 0;
  padding: 1em;
  color: #fff;
  font-family: "Rammetto One Regular";
  font-size: 1.2em;
}

footer {
  background-color: #778da9;
  color: #fff;
  padding: 1em;
  font-family: "Zain Regular";
  line-height: 1.5em;
  font-size: 1.2em;
}

.galleri {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.roomie {
  display: grid;
}

.roomie img {
  grid-area: 1 / 1;
}

.roomie .caption {
  grid-area: 1 / 1;
  place-self: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.8em;
  color: white;
  border-radius: 10px;
  font-family: "Zain Regular";
  font-size: 1.5em;
}

@media (width >= 700px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo-section p {
    font-size: 1.8rem;
  }

  nav ul li {
    font-size: 1.1rem;
  }

  div h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .grid_1-1 p {
    font-size: 1.1em;
  }

  .et-trin-tilbage {
    grid-row: 1 / 2;
  }

  .logo-section img {
    width: 10%;
  }

  .galleri {
    width: auto;
    aspect-ratio: auto;
    object-fit: initial;
  }

  .ishockey {
    grid-row: 1 / 3;
  }

  .vandfald {
    grid-column: 2 / 4;
  }
}
